html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-size: 10px;
	line-height: 1;
	background: repeat url(https://lh3.googleusercontent.com/z1v4zGQ9PUFWJhNwiEgq9BW64j4tMZAhmqdIunD56lKT0dfCCyPt1fu_rKDblUYjcs_DCA=s85);
	background-color: #555;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1 {
    font: 2.5em/2em Impact;
    background: #000000;
    margin: 0 auto 1.5em auto;
    text-align: center;
    text-indent: .5em;
    color: #ffffff;
}
p {
    font: 2em/2em Comic Sans;
    text-align: left;
    width: 50%;
    margin: auto;
    border: .1em solid;
    background-color: #777777;
    background: linear-gradient( 90deg, red, orange, yellow, green, blue, purple );
    text-indent: .5em;
}
#footer {
    position: fixed;
    bottom: 0px;
    margin: auto;
}
@keyframes rainbow {
  0%, 100%   { background: red; } 
  20%  { background: orange; }
  40%  { background: yellow; }
  60%  { background: green; }
  80%  { background: blue; }
  90% { background: purple; }
}