html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*Begin CSS*/

body {
    font-size: 10px;
    text-decoration: none;
    font-family: "Raleway", Helvetica, sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

p{
    font-size: 1.3em;
    color: black;
}

footer {
    color: white;
}

img{
    height:200px;
    width: 200px;
    border-radius: 50%;
}

.parallax {
    Height: 1000px;
    background-image: url(http://sandboxmind.org/images/gticlassroom.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.project {
    width: 30em;
    display: inline-block;
    text-align: center;
    margin: 1em auto;
    color: black;
}

#head {
    position: fixed;
    top: 0px;
    background-color: black;
    color: white;
    width: 100%;
    overflow: auto;
}

#linkback,
#scrollabout,
#scrollprojects,
#title {
    display: inline-block;
    margin: .3em 0 0 0;
    vertical-align: middle;
    line-height: 2em;
}

#linkback {
    font-size: 2.3em;
    color: white;
    text-decoration: none;
    width: 30%;
    text-align: center;
}

#title {
    font-size: 2.3em;
    text-align: center;
    width: 40%;
    position: absolute;
    left: 30%;
    color: yellow;
}

#scrollabout {
    font-size: 2.3em;
    width: 10%;
    position: absolute;
    right: 15%;
    text-align: center;
}

#scrollprojects {
    font-size: 2.3em;
    width: 10%;
    position: absolute;
    right: 5%;
    text-align: center;
}

#about {
    font-size: 1.3em;
    padding: 1em;
    background-color: #ffffff;
}

#projectContainer{
    width: 80%;
    background-color: #cccccc;
    margin: auto;
    text-align: center;
}