* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
    overflow: hidden;
}

/* Removing browser default styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dt,
dd {
    margin: 0;
    padding: 0;
}

/* Resetting font sizes and family */
html {
    font-size: 16px; /* Default font size is 16px */
}
body {
    font-family: Arial, sans-serif; /* Default font family is Arial */
}

/* Removing list styles */
ul,
ol {
    list-style: none;
}

/* Removing text decoration */
a {
    text-decoration: none;
}